@media screen and (max-width: 1200px) {
  section > div {
    padding-left: 25px;
    padding-right: 25px;
  }
  .wishes {
    height: unset;
    margin-bottom: 0;
    &-content {
      flex-direction: column-reverse;
    }
    &-lists {
      max-height: 80vh;
      width: calc(100% - 50px);
      padding: 25px;
    }
    &-form {
      width: calc(100% - 50px);
      &-card {
        width: unset;
        top: 0;
        left: 25px;
        margin-top: 25px;
      }
    }
  }
}

@media screen and (min-width: 901px) {
  .moments {
    &-grid {
      &-img {
        &:nth-child(1) {
          background-position: center 30%;
        }
        &:nth-child(6) {
          background-position: center 56%;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .countdown {
    min-height: 58vh !important;
    &-content {
      .countdown-timer {
        .time-box {
          margin-top: 5px !important;
          margin-right: 6px;
          width: 80px;
          height: 80px;
          &-number {
            font-size: 2rem;
          }
          &-text {
            font-size: 20px;
          }
        }
      }
    }
  }

  .couples {
    &-content {
      position: relative;
      padding-bottom: 325px;
      .couples-profile {
        position: relative;
        top: 250px;
        width: calc(50% - 60px);
        padding: 35px 25px;
      }
      .couples-intro {
        position: absolute;
        top: 50px;
        width: calc(100% - 50px);
        max-width: unset;
      }
    }
  }
  .events {
    &-info > div {
      width: calc(50% - 60px);
      max-width: unset;
    }
  }
  .moments {
    &-grid {
      &-img {
        width: calc(40% - 10px);
        padding-top: calc(40% - 10px);
        &:first-child,
        &:last-child {
          width: calc(60% - 10px);
        }
        &:nth-child(3),
        &:nth-child(4) {
          width: calc(50% - 10px);
          padding-top: calc(50% - 10px);
        }
      }
    }
  }
  .proverb {
    &-content {
      padding: 50px 25px;
      div h5 {
        margin: 0;
        font-size: 1rem;
        line-height: 30px;
      }
      img {
        width: 200px;
        height: 225px;
      }
    }
  }
  .gift {
    &-content {
      &-caption {
        width: calc(50% - 25px);
        p {
          font-size: 1rem;
        }
      }
      &-cover {
        width: calc(50% - 30px);
        height: unset;
        padding: 15px;
        img {
          width: 100%;
        }
      }
    }
  }
  .protocol {
    &-box {
      width: calc(100% - 30px)
    }
  }
  .part-cover {
    .cover-title {
      h1 {
        font-size: 1.25rem;
        line-height: 1.25rem;
      }
      h6 {
        letter-spacing: 3px;
      }
    }
  }

  .footer {
    height: 120px !important;
    .creator {
      margin-top: -40px !important;
    }

  }
}

@media screen and (max-width: 750px) {
  .navbar {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    max-height: 0;
    opacity: 0;
    box-shadow: 0 0 10px 0 rgb(18 31 56 / 10%);
    transition: max-height 0.5s ease-out, 1s opacity ease-out;
    &--active {
      max-height: 500px;
      opacity: 1;
      transition: max-height 1s ease-in, opacity 0.5s ease-in;
    }
    .nav-link {
      width: 75px;
      max-width: 25%;
      padding: 10px 10px 5px;
      text-align: center;
      text-decoration: none;
      color: #325800;
      img {
        width: 25px;
        height: 25px;
        object-fit: cover;
      }
      span {
        display: block;
        margin-top: -5px;
        font-size: 12px;
      }
    }
  }
  .couples {
    &-content {
      flex-direction: column;
      .couples-profile {
        width: calc(100% - 50px);
        margin-bottom: 25px;
      }
    }
  }
  .events {
    &-info {
      flex-direction: column;
      > div {
        width: calc(100% - 50px);
      }
    }
  }
  .proverb {
    &-content {
      flex-direction: column-reverse;
      div {
        width: 100%;
        text-align: center;
      }
      img {
        width: 75%;
        min-width: 200px;
        height: calc(75vw - 50px);
        min-height: 225px;
      }
    }
  }
  .protocol {
    &-box {
      width: 100%
    }
  }
  .gift {
    &-content {
      flex-direction: column-reverse;
      &-cover {
        width: calc(100% - 30px);
      }
      &-caption {
        width: 100%;
        text-align: center;
        padding-top: 0;
        margin-bottom: 50px;
      }
    }
    .bank-list-items img {
      width: 100px;
      height: 40px;
    }
  }
  .wishes {
    &-lists {
      padding: 25px 25px 100px;
    }
  }
  .cover-page {
    &-content {
      width: 100%;
      height: 100vh;
    }
    .cover-header,
    .cover-footer {
      height: 51.5vh;
    }
    .cover-header {
      .cover-title {
        h5,
        h6 {
          font-size: 1.4rem;
        }
      }
    }
    .cover-footer {
      .btn-ghost {
        padding: 0.75rem 1.25rem !important;
        letter-spacing: 1px;
        img {
          right: 5px;
          width: 15px;
        }
      }
    }
  }
  .part-cover {
    &--open {
      width: 0;
      padding: 0;
      .cover-title {
        h1,
        h6,
        .name-tag-connector {
          opacity: 0;
        }
      }
    }
  }
  .react-tabs__tab {
    margin: 0;
  }
  .toggle-audio {
    &.active {
      bottom: 75px;
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
    &-body {
      margin-top:10vh;
      h1 {
        font-size: 3.5rem;
      }
      h2 {
        font-size: 2rem;
      }
      h3 {
        margin-top: 35vh;
      }
    }
  }
  .couples {
    &-content {
      padding-bottom: 375px;
      .couples-profile {
        top: 325px;
        &-pict {
          width: 180px;
          height: 180px;
        }
      }
    }
  }
  .wishes {
    &-form-card {
      width: calc(100% - 20px);
      left: 10px;
      margin-top: 10px;
    }
  }
  .moments {
    &-grid {
      margin-right: 0;
      &-img {
        width: calc(50% - 5px);
        padding-top: calc(50% - 5px);
        &:first-child,
        &:last-child {
          width: 100%;
          padding-top: 60%;
        }
        &:nth-child(3),
        &:nth-child(4) {
          width: calc(50% - 5px);
          padding-top: calc(50% - 5px);
        }
      }
    }
  }
  .cover-page {
   &-content {
     .cover-header {
       .cover-title {
         margin-top: 39rem;
         h2 {
           font-size: 2.75rem;
           margin-block-end: 0;
           margin-block-start: 0;
         }
         h5 {
           letter-spacing: 0px;
           font-size: 1.3rem;
           padding-bottom: 1.2rem;
         }
         h6 {
           font-size: 1.3rem !important;
           padding-bottom: 1.2rem !important;
         }
       }
     }
     .cover-footer {
       margin-top: 2.5rem;
     }
   }
  }
  .thankyou {
    &-content {
      h1 {
        font-size: 3.3rem;
      }
    }
  }
  .react-tabs {
    &__tab-panel {
      height: 400px;
    }
  }
}
